.contact-envelope {
    background-color: #F8F7F3;
    background-image: repeating-linear-gradient(135deg, #D5181F 0px, #D5181F 50px, transparent 50px, transparent 80px, #0F5DA5 80px, #0F5DA5 130px, transparent 130px, transparent 160px);
    box-shadow: 0 14px 7px -12px rgba(0, 0, 0, 0.898);
    margin: 20px auto;
    padding: 15px;
    position: relative;
    width: 846px;
    flex-shrink: 0;
}

.contact-envelope:before {
    bottom: 15px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.898);
    content: "";
    height: 10px;
    position: absolute;
    right: 10px;
    transform: rotate(4deg) skew(4deg);
    width: 350px;
    z-index: -1;
}

.contact-envelope__content {
    background-color: #F8F7F3;
    overflow: hidden;
    padding: 50px;
}

.contact-envelope__stamp {
    float: right;
    width: 100px;
    height: 70px;
    margin-left: 100px;
    background-image: url(images/stamp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contact-envelope__header {
    font-size: 1.4em;
    font-style: italic;
    margin-bottom: 30px;
}

.contact-envelope__message {
    font-size: 0.8em;
    line-height: 1.4em;
}