.footer {
    color: #787C80;
    display: block;
    text-align: center;
    font-size: 13px;
    flex-shrink: 0;
}

.footer_position-absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__content-link {
    color: #787C80;
}