html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    scrollbar-base-color: #DBE0E8;        
    scrollbar-track-color: #AFB4BC;
    scrollbar-arrow-color: #DBE0E8;  
    scrollbar-3dlight-color: #DBE0E8;
    scrollbar-highlight-color: #DBE0E8;
    scrollbar-shadow-color: #DBE0E8;
    scrollbar-dark-shadow-color: #DBE0E8;
}

::-webkit-scrollbar {
    width: 8px;
    background: #DBE0E8;
}

::-webkit-scrollbar-thumb {
    background: #AFB4BC;
}

.layout {
    font-size: 1.4em;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #062271;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #CDD2DA;
}

.layout__section {
    width: 930px;
    margin: 0 auto;
    padding: 116px 0 0 0;
    box-sizing: border-box;
    min-height: 500px;
}

.layout__about {
    width: 990px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.layout__projects {
    width: 990px;
}

.layout__skills {
    width: 840px;
    margin-top: 30px;
}

.layout__contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.layout__header {
    font-size: 3em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

.projects__collection {
    display: block;
}

.clear-fix {
    clear: both;
}