html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background: #1a3742;
}

::-webkit-scrollbar-thumb {
    background: #5D6D63;
}

.layout {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #E6E0CB;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #1A3742;
}

.layout__section {
    height: 100%;
    padding: 130px 0 30px 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 500px;
}

.layout__about {
    margin: 0 auto;
    width: 550px;
}

.layout__projects {
    margin: 0 auto;
    width: 80%;
}

.layout__header {
    color: #E6E0CB;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.projects__collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}