html,
body {
    padding: 0;
    margin: 0;
    scrollbar-base-color: #DBE0E8;        
    scrollbar-track-color: #AFB4BC;
    scrollbar-arrow-color: #DBE0E8;  
    scrollbar-3dlight-color: #DBE0E8;
    scrollbar-highlight-color: #DBE0E8;
    scrollbar-shadow-color: #DBE0E8;
    scrollbar-dark-shadow-color: #DBE0E8;
}

::-webkit-scrollbar {
    width: 8px;
    background: #DBE0E8;
}

::-webkit-scrollbar-thumb {
    background: #AFB4BC;
}

html.layout__full-page,
body.layout__full-page {
    height: 100%;
}

.layout {
    font-size: 1.4em;
    line-height: 1.6em;
    letter-spacing: 1px;
    color: #062271;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #CDD2DA;
}

.layout__content {
}

.layout__content_display_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layout__content_display_fill-all {
    position: relative;
    min-height: 100%;
}

.layout__section {
    width: 930px;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 500px;
}

.layout__about {
    width: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout__projects {
    width: 1090px;
    padding: 20px 0;
    text-align: center;
}

.layout__skills {
    width: 840px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.layout__contacts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout__header {
    font-size: 3em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

.clear-fix {
    clear: both;
}

@media only screen and (min-width: 0px) and (max-width: 550px) {
	.layout__section {
	    width: 100%;
	    display: block;
	}
}

@media only screen and (min-width: 0) and (max-width: 930px) {
	.layout__contacts {
        width: 100%;
	}
}

@media only screen and (min-width: 720px) and (max-width: 940px) {
	.layout__skills {
        width: 640px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 719px) {
	.layout__skills {
        width: 420px;
    }
}

@media only screen and (min-width: 0) and (max-width: 519px) {
	.layout__skills {
        width: 200px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1090px) {
    .layout__projects {
        width: 730px;
    }
}

@media only screen and (min-width: 0) and (max-width: 749px) {
    .layout__projects {
        width: 370px;
    }
}