.project-tile {
  margin:30px;
  float:left;
  color:#000000;
  display:block;
  width: 230px;
  height: 290px;
  padding:20px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.project-tile:hover,
.project-tile:focus{
  box-shadow:7px 7px 7px rgba(33,33,33,.7);
  -moz-box-shadow:7px 7px 7px rgba(33,33,33,.7);
  -webkit-box-shadow: 7px 7px 7px rgba(33,33,33,.7);
}

.project-tile_bg_yellow {
  background:#FFFFCC;
}

.project-tile_bg_green {
  background:#CCFFCC;
}

.project-tile_bg_violet {
  background:#CCCCFF;
}

.project-tile__name {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight:bold;
}

.project-tile__link {
  text-decoration:none;
}

.project-tile__image {
  width: 100%;
}



.layout__section h2,p{
  font-weight:normal;
}

.layout__section h2{
  margin: 10px 0;
}

.layout__section ul,li{
  list-style:none;
}

.layout__section ul{
  overflow:hidden;
  padding:3em;
}

.layout__section ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  width:10em;
  height: 320px;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
 /* -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;*/
}

.layout__section ul li{
  margin:1em;
  float:left;
}

.layout__section ul li h2{
  font-weight:bold;
  padding-bottom:0;
}

.layout__section ul li:nth-child(even) a{
  background:#cfc;
}

.layout__section ul li:nth-child(3n) a{
  
  background:#ccf;
}

.layout__section ul li a:hover,
.layout__section ul li a:focus{
  box-shadow:7px 7px 7px rgba(33,33,33,.7);
  -moz-box-shadow:7px 7px 7px rgba(33,33,33,.7);
  -webkit-box-shadow: 7px 7px 7px rgba(33,33,33,.7);
  position:relative;
  z-index:5;
}
.layout__section ol{text-align:center;}
.layout__section ol li{display:inline;padding-right:1em;}
.layout__section ol li a{color:#fff;}