.project-tile {
    width: 250px;
    height: 360px;
    float: left;
    background-color: #AFB4BC;
    padding: 10px;
    margin: 20px;
}

.project-tile__image {
    width: 100%;
}

.project-tile__name {
    text-align: center;
    font-weight: bold;
}

.layout__section h2,p{
  font-weight:normal;
}

.layout__section ul,li{
  list-style:none;
}

.layout__section ul{
  overflow:hidden;
  padding:3em;
}

.layout__section ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  width:10em;
  height: 320px;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.layout__section ul li{
  margin:1em;
  float:left;
}

.layout__section ul li h2{
  font-weight:bold;
  padding-bottom:0;
}

.layout__section ul li p{
}

.layout__section ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.layout__section ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.layout__section ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.layout__section ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.layout__section ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.layout__section ol{text-align:center;}
.layout__section ol li{display:inline;padding-right:1em;}
.layout__section ol li a{color:#fff;}